@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../font/proxima-nova/Proxima-Nova-Black.eot'); /* IE9 Compat Modes */
  src: url('../font/proxima-nova/Proxima-Nova-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/proxima-nova/Proxima-Nova-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/proxima-nova/Proxima-Nova-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/proxima-nova/Proxima-Nova-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/fira-sans/FiraSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../font/fira-sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/fira-sans/FiraSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/fira-sans/FiraSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/fira-sans/FiraSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

::-webkit-input-placeholder,
::placeholder {
  color: #fff !important;
}

html, body {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#nac-scratch-container{
  background-image: url('../img/background-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  max-width: 1170px;
  max-height: 480px;
  position: relative;
  margin: 0 auto;
}

#nac-scratch-container::before{
  content: '';
  background-image: url('../img/triangle-corner.png');
  background-repeat: no-repeat;
  width: 107px;
  height: 242px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#nac-scratch-container::after{
  content: '';
  background-image: url('../img/triangle-corner.png');
  background-repeat: no-repeat;
  width: 107px;
  height: 242px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 10;
}

#nac-scratch-logo{
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 10;
}

#nac-scratch-intro{
  text-align: center;
  padding: 10%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.nac-scratch-intro-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* padding-top: 50px; */
}

#nac-scratch-intro h1{
  color: #F05A28;
  font-size: 126px;
  font-family: 'Proxima Nova Black', sans-serif;
  margin-bottom: 10px;
}

#nac-scratch-intro h3{
  color: #fff;
  font-size: 48px;
  margin-bottom: 40px;
}

#nac-scratch-canvas-stand{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../img/canvas-stand-desktop.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#nac-scratch-frame {
	display: block;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	max-width: 312px;
  cursor:  crosshair;
  cursor: url('../img/cursor.png') 53 53, crosshair;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* bottom: 22px; */
  /* top: 120px; */
	/* height: 234px; */
  /* background-image: url('../img/frame-1.png'); */
}

#nac-scratch-outro{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nac-scratch-finish-text-left{
  width: 37%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 25px;
  z-index: 4;
}

.nac-scratch-finish-text-left h3{
  color: #F05A28;
  font-size: 59px;
  font-family: 'Proxima Nova Black', sans-serif;
  /* margin-bottom: 20px; */
  text-align: right;
}

.nac-scratch-finish-text-left h5{
  color: #fff;
  font-size: 40px;
  text-align: right;
  font-family: 'Proxima Nova Black', sans-serif;
}

.nac-scratch-finish-text-right{
  width: 37%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 0 30px 0 30px;
  z-index: 4;
  display: flex;
}

.nac-scratch-finish-text-right h5{
  font-size: 26px;
  color: #fff;
  padding-left: 15px;
  align-self: center;
  font-family: 'Proxima Nova Black', sans-serif;
}

.nac-scratch-finish{
  display: none;
}

.nac-scratch-finish-text-right img{
  max-width: 120px;
  max-height: 120px;
}

.nac-scratch-intro-mouse{
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
}

.image-copyright{
  font-style: italic;
  position: absolute;
  bottom: 15px;
  right: 11%;
  color: #DEDEDE;
  z-index: 2;
}

.link-donation{
  color: #F05A28;
  text-decoration: underline;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .nac-scratch-finish-text-left,
  .nac-scratch-finish-text-right{
    width: 35%;
  }
  .nac-scratch-finish-text-left h3{
    font-size: 48px;
  }
  .nac-scratch-finish-text-left h5{
    font-size: 36px;
  }
  .nac-scratch-finish-text-right img{
    width: 100px;
  }
  .nac-scratch-finish-text-right h5{
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #nac-scratch-container{
    max-width: 414px;
    max-height: 600px;
    /* width: 100%;
    height: 100vh; */
    margin: 0 auto;
  }

  #nac-scratch-container::before,
  #nac-scratch-container::after{
    width: 50px;
    background-size: contain;
  }

  #nac-scratch-logo{
    right: 0;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    width: fit-content;
  }

  #nac-scratch-logo img{
    width: 100px;
  }

  #nac-scratch-intro{
    padding: 20px;
  }

  .nac-scratch-intro-content{
    width: 100%;
    padding-top: 140px;
  }

  #nac-scratch-intro h1{
    font-size: 77px;
  }

  #nac-scratch-intro h3{
    font-size: 28px;
  }

  .nac-scratch-intro-mouse{
    display: none;
  }

  #nac-scratch-frame{
    bottom: 24px;
  }

  #nac-scratch-outro{
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
  }

  .nac-scratch-finish-text-left,
  .nac-scratch-finish-text-right{
    width: 100%;
  }

  .nac-scratch-finish-text-left{
    top: 35%;
    padding: 30px 15px 0;
  }

  .nac-scratch-finish-text-left h3,
  .nac-scratch-finish-text-left h5{
    text-align: center;
    margin: 0;
  }

  .nac-scratch-finish-text-left h3{
    font-size: 50px;
  }

  .nac-scratch-finish-text-left h5{
    font-size: 36px;
  }

  .nac-scratch-finish-text-right{
    top: 70%;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
  }

  .nac-scratch-finish-text-right img{
    width: min-content;
    margin: 0 auto;
  }

  .nac-scratch-finish-text-right h5{
    /* margin-top: 10px; */
    padding: 20px 30px 0;
    font-size: 24px;
  }

  .image-copyright{
    bottom: 5px;
    transform: translateX(50%);
    right: 50%;
    font-size: 0.75rem;
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .nac-scratch-finish-text-left h3{
    font-size: 50px;
  }
  .nac-scratch-finish-text-left h5{
    font-size: 36px;
  }
}

@media screen and (max-width: 375px) {
  .nac-scratch-intro-content{
    padding-top: 140px;
  }

  #nac-scratch-intro h1{
    font-size: 70px;
    margin-bottom: 10px;
  }

  #nac-scratch-intro h3{
    font-size: 24px;
  }

  .nac-scratch-finish-text-left h3{
    font-size: 48px;
  }

  .nac-scratch-finish-text-left h5{
    font-size: 32px;
  }

  #nac-scratch-frame{
    width: 280px;
    bottom: 22px;
  }

  #nac-scratch-canvas-stand{
    width: 460px;
    height: 460px;
  }
}

@media screen and (max-width: 360px) {
  .nac-scratch-finish-text-left h3{
    font-size: 44px;
  }
  .nac-scratch-finish-text-left h5{
    font-size: 30px;
  }
  #nac-scratch-frame{
    width: 270px;
    bottom: 21px;
  }
  #nac-scratch-canvas-stand{
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 320px) {
  #nac-scratch-intro h1 {
    font-size: 60px;
  }
  .nac-scratch-finish-text-left h3{
    font-size: 40px;
  }
  .nac-scratch-finish-text-left h5{
    font-size: 26px;
  }
  .nac-scratch-finish-text-right h5 {
    padding: 20px 10px 0;
    font-size: 20px;
  }
}




/* ANIMATION */
@-webkit-keyframes rotate {
  /* 0% {
    -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
  }  
  13% {
    -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
  }
  25% {
    -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
  }
  38% {
    -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
  }
  50% {
    -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
  }
  63% {
    -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
  }
  75% {
    -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
  }
  88% {
    -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
  }
  100% {
    -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
  } */
  0% {
    -webkit-transform:translate(10px, 10px) rotate(0deg) translate(-10px, -10px) rotate(0deg);
  }
  25% {
    -webkit-transform:translate(10px, 10px) rotate(-90deg) translate(-10px, -10px) rotate(75deg);
  }
  100% {
    -webkit-transform:translate(10px, 10px) rotate(-360deg) translate(-10px, -10px) rotate(360deg);
  }
}
.rotate-animation {
  /* height: 50px;
  width: 50px;
  border-radius:25px; */
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name:"rotate";
  -webkit-animation-iteration-count: infinite;
  /* -webkit-animation-timing-function: ease-out; */
  position:absolute;
  left:43%;
  bottom:-50px; 
}